
/*------ para dispositivos medianos -----*/
@media (min-width: 768px) {
    h1 {
      font-size: 1.6rem;
    }
  }
  /*------ para dispositivos desktop large -----*/
  @media (min-width: 992px) {
    h1 {
      font-size: 1.7rem;
    }
  }
  /*------ para dispositivos desktop xx-large -----*/
  @media (min-width: 1400px) {
    h1 {
      font-size: 1.9rem;
    }
  }
  
  
  
 
  
  
  /*------ para dispositivos medianos -----*/
  @media (min-width: 768px) {
    h1 {
      font-size: 1.6rem;
    }
  }
  /*------ para dispositivos desktop large -----*/
  @media (min-width: 992px) {
    h1 {
      font-size: 1.7rem;
    }
  }
  /*------ para dispositivos desktop xx-large -----*/
  @media (min-width: 1400px) {
    h1 {
      font-size: 1.9rem;
    }

}

