/* servicios */

#servicios {
    flex-direction: column;
    padding: 40px;
    transition: all 3s;
}

#text-servicios {
    padding-bottom: 20px;
    padding-top: 15px;
    color: #fe9c6f;
}

@media (max-width: 425px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}

/* servicios */